# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore PPT presentation files (only sync PDF version)
*.pptx